{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="grant-hunter col-md-6 col-md-offset-3">

    <h1> {{ method }}</h1>

    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}

  	<h1>Grant Application</h1>

  	<label>Which funding pool do you wish to access?</label>
          <select name="pool" width="300px">
          {% for x in list_pool %}
          <option value="{{ x }}" SELECTED>{{ x }}</option>
          {% endfor %}
          </select>
  	<br>

  	<label>What area will your grant benefit?</label>
          <select name="area" width="300px">
          {% for x in list_area %}
          <option value="{{ x }}" SELECTED>{{ x }}</option>
          {% endfor %}
          </select>
  	<br>

  	<label>Which age group will benefit?</label>
          <select name="age" width="300px">
          {% for x in list_age %}
          <option value="{{ x }}" SELECTED>{{ x }}</option>
          {% endfor %}
          </select>
  	<br>

  	<label>Which group will benefit?</label>
          <select name="group" width="300px">
          {% for x in list_group %}
          <option value="{{ x }}" SELECTED>{{ x }}</option>
          {% endfor %}
          </select>
  	<br>

  	<label>What is the total value of your project?</label>
          <select name="amount" width="300px">
          {% for x in list_amount %}
          <option value="{{ x }}" SELECTED>{{ x }}</option>
          {% endfor %}
          </select>
  	<br>


  	<label>What percentage do you want funded?</label>
          <select name="percent" width="300px">
          {% for x in list_percent %}
          <option value="{{ x }}" SELECTED>{{ x }}</option>
          {% endfor %}
          </select>
  	<br>

        <p><input type="submit" value="Apply"></p>


    </form>

  </div>
</div>

{% endblock %}
