{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/mindthegap.css')}}"></link>
{% endblock %}

{% block scripts %}
{{ super() }}
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="{{url_for('static', filename='js/mindthegap.js')}}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
<div class="mtg">
    <h1>{{ page['title'] }}</h1>
    <p>The United Nations wants to end poverty, protect the planet, and ensure prosperity for all.<br>
        In New Zealand, the goals below show the gap between what’s needed and what’s being done.<br>
        Help us Mind the Gap! by building on what we know, tell us what we’ve missed and taking action to close the gap:</p><p>
        <a href="https://data.govt.nz/request-data/" class="btn btn-default">Data requested</a>
        <a href="https://data.govt.nz/request-data/" class="btn btn-default">Make a data request</a>
        <a href="mailto:HakketyYaks@gmail.com" class="btn btn-default">Tell us what we don’t know</a>
        <a href="http://www.un.org/sustainabledevelopment/sustainable-development-goals/" class="btn btn-default">UN Sustainability Development Goals</a></p>


    
    <!--p class="plus">+</p-->
    <div id="goals"></div>
    <div id="goaldetail"></div>
</div>
</div>
</div>

{% endblock %}
