{% extends "base.html" %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
      title:{
      text: "How much do your values matter to other age groups?"
      },
      axisY:{
   //     minimum: 50,
      maximum: 11
     },
      data: [
      {
        label: "The importance of history in defining NZ",
        type: "line",
        dataPoints: [
{ label: "The importance of history in defining NZ",  y: 7  },
{ label: "The importance of history in defining NZ", y: 7  },
{ label: "The importance of history in defining NZ", y: 6  },
{ label: "The importance of history in defining NZ",  y: 6  }
        ]
      },
       {
        label: "The importance of art and artistic achievement in defining NZ",
        type: "line",
        dataPoints: [
{ label: "The importance of art and artistic achievement in defining NZ",  y: 1  },
{ label: "The importance of art and artistic achievement in defining NZ", y: 1  },
{ label: "The importance of art and artistic achievement in defining NZ", y: 1  },
{ label: "The importance of art and artistic achievement in defining NZ",  y: 2  }
        ]
      },
              {
        label: "The importance of sports and sporting achievements in defining NZ",
        type: "line",
        dataPoints: [
{ label: "The importance of sports and sporting achievements in defining NZ",  y: 4  },
{ label: "The importance of sports and sporting achievements in defining NZ", y: 3  },
{ label: "The importance of sports and sporting achievements in defining NZ", y: 5  },
{ label: "The importance of sports and sporting achievements in defining NZ",  y: 5  }
        ]
      },
              {
        label: "The importance of freedom, rights and peace in defining NZ",
        type: "line",
        dataPoints: [
{ label: "The importance of freedom, rights and peace in defining NZ",  y: 10  },
{ label: "The importance of freedom, rights and peace in defining NZ", y: 9  },
{ label: "The importance of freedom, rights and peace in defining NZ", y: 9  },
{ label: "The importance of freedom, rights and peace in defining NZ",  y: 9  }
        ]
      },
              {
        label: "The importance of natural scenery and environment in defining NZ",
        type: "line",
        dataPoints: [
{ label: "The importance of natural scenery and environment in defining NZ",  y: 9  },
{ label: "The importance of natural scenery and environment in defining NZ", y: 10  },
{ label: "The importance of natural scenery and environment in defining NZ", y: 10  },
{ label: "The importance of natural scenery and environment in defining NZ",  y: 10  }
        ]
      },
              {
        label: "The importance of New Zealand symbols and icons in defining NZ",
        type: "line",
        dataPoints: [
{ label: "The importance of New Zealand symbols and icons in defining NZ",  y: 3  },
{ label: "The importance of New Zealand symbols and icons in defining NZ", y: 2  },
{ label: "The importance of New Zealand symbols and icons in defining NZ", y: 4  },
{ label: "The importance of New Zealand symbols and icons in defining NZ",  y: 4  }
        ]
      },
              {
        label: "The importance of the people in New Zealand in defining NZ",
        type: "line",
        dataPoints: [
{ label: "The importance of the people in New Zealand in defining NZ",  y: 8  },
{ label: "The importance of the people in New Zealand in defining NZ", y: 8  },
{ label: "The importance of the people in New Zealand in defining NZ", y: 8  },
{ label: "The importance of the people in New Zealand in defining NZ",  y: 7  }
        ]
      },
              {
        label: "The importance of agriculture and farming in defining NZ",
        type: "line",
        dataPoints: [
{ label: "The importance of agriculture and farming in defining NZ",  y: 6  },
{ label: "The importance of agriculture and farming in defining NZ", y: 6  },
{ label: "The importance of agriculture and farming in defining NZ", y: 7  },
{ label: "The importance of agriculture and farming in defining NZ",  y: 8  }
        ]
      },
              {
        label: "The importance of multiculturalism and ethnic diversity in defining NZ",
        type: "line",
        dataPoints: [
{ label: "The importance of multiculturalism and ethnic diversity in defining NZ",  y: 2  },
{ label: "The importance of multiculturalism and ethnic diversity in defining NZ", y: 4 },
{ label: "The importance of multiculturalism and ethnic diversity in defining NZ", y: 3  },
{ label: "The importance of multiculturalism and ethnic diversity in defining NZ",  y: 3  }
        ]
      },
              {
        label: "The importance of Maori culture and cultural practices in defining NZ",
        type: "line",
        dataPoints: [
{ label: "The importance of Maori culture and cultural practices in defining NZ",  y: 5  },
{ label: "The importance of Maori culture and cultural practices in defining NZ", y: 5  },
{ label: "The importance of Maori culture and cultural practices in defining NZ", y: 2  },
{ label: "The importance of Maori culture and cultural practices in defining NZ",  y: 1  }
        ]
      },

        {
        type: "line",
          lineColor: "white",
          color: "white",
        dataPoints: [
{ label: "Age 15-24",  y: 0  },
{ label: "Age 25-44", y: 0  },
{ label: "Age 45-64", y: 0  },
{ label: "Over 65",  y: 0  }
        ]
      },

      ]
    });

    chart.render();

    var chart2 = new CanvasJS.Chart("chartContainer2",
    {
      title:{
        text: "Government expenditure on community values"
      },
      data: [
      {
       type: "doughnut",
       dataPoints: [
       {  y: 1.08, indexLabel: "Environment" },
       {  y: 0.35, indexLabel: "Agriculture" },
       {  y: 0.08, indexLabel: "NZ history" },
       {  y: 0.01, indexLabel: "NZ symbols" },
       {  y: 0.01, indexLabel: "Sports" },
       {  y: 0, indexLabel: "Arts" },
       {  y: 0, indexLabel: "Multiculturalism" },
       {  y: 0.04, indexLabel: "Maori culture" },
       {  y: 0.3, indexLabel: "The people of NZ" },
       {  y: 35, indexLabel: "Freedom & rights" },
       {  y: 63, indexLabel: "Non value aligned expenditure" }
       ]

     }
     ]
   });

    chart2.render();
  }
  </script>
  <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
 {% endblock %}

{% block content %}
  <div class="row">
  <div class="col-md-8 col-md-offset-2">
  {% from "includes/_formhelpers.html" import render_field %}
  <div class="form-container thumbnail">
    <form method="POST">
        <h1>Welcome to Value Ink</h1>
        <p>This is a simple service to show you how much the Central New Zealand Government spends on issues dear to your heart, and how your values compare to those of other age groups in New Zealand.</p>
        <br/>
        {{ form.hidden_tag() }}
        {# <p>{{ form.age_group }}</p>#}
        {{ render_field(form.age_group, field_value=False) }}
        <br/>
        <div class="form-group">
          <h3>What are the values you care about?</h3>
        </div>
        {{ render_field(form.checkbox_1, field_value=False) }}
        {{ render_field(form.checkbox_2, field_value=False) }}
        {{ render_field(form.checkbox_3, field_value=False) }}
        {{ render_field(form.checkbox_4, field_value=False) }}
        {{ render_field(form.checkbox_5, field_value=False) }}
        {{ render_field(form.checkbox_6, field_value=False) }}
        {{ render_field(form.checkbox_7, field_value=False) }}
        {{ render_field(form.checkbox_8, field_value=False) }}
        {{ render_field(form.checkbox_9, field_value=False) }}
        {{ render_field(form.checkbox_10, field_value=False ) }}
        <button type="submit" class="btn btn-primary btn-block">Update User</button>
    </form>
    <br/>
    {% if selection_based_result != None %}
      <h2>Your age group</h2>
      <p>The proportion of the Central Government budget spent on your personal values in 2017 was {{ selection_based_result }}%.</p>
      {{ facts | safe }}
    {% endif %}
</div>

<div class="row">
  <div class="col-12">
    <div id="chartContainer" style="height: 300px; width: 100%;">
    </div>
  </div>

  <div class="col-12">
    <div id="chartContainer2" style="height: 300px; width: 100%;">
    </div>
  </div>
</div>
<p>Data for this analysis was drawn from StatsNZ General Social Survey 2016 (Social Identity Measures) and from the New Zealand Central Government Treasury Expenditure data.</p>
{% endblock %}
